@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Inline|Montserrat|Varela+Round');
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Montserrat', helvetica, sans-serif;
  font-size: 12px;
  margin: auto;
}

body, a:hover {
  color: #00271F;
}

body, footer {
  width: 100%;
  background-color: #ffffff;
}


/* LANDING PAGE */

#landPG {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url('images/header_02.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

#enter, h2, p {
  text-align: center;
}

#enter, h2 {
  position: absolute;
  top: 100px;
  width: 100%;
  font-size: 80px;
}

#enter {
  display: block;
  cursor: pointer;
  font-family: 'Bungee';
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

#enter:hover {
  color: transparent;
}

figure {
  background-color: #5438c4;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

section {
  width: 1000px;
  margin: auto;
  margin-top: 190px;
}

div {
  background-color: #ffffff;
  width: 300px;
  height: 400px;
  float: left;
  margin: 10px;
  border: 4px solid #f4f8ff;
  transition: all 0.5s ease-in-out;
}

div:hover {
  background-color: #ffffff;
  border: 4px solid #cccccc;
}

#artStuff section:first-child div {}

#whiteRoom, #artStuff, #artPop, #memories, #memPop {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

#whiteRoom, #artStuff, #artPop, #memories, #memPop {
  display: none;
}

#artStuff, #artPop {
  background-color: pink;
}

#artPop h2, #memPop h2, p {
  width: 300px;
  margin-left: 600px;
}

#artPop h2 {
  margin-top: 50px;
}

#artPop div {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 500px;
  height: 530px;
}

#memPop h2 {
  padding-left: 20px;
  margin-top: 75px;
  border-left: 15px solid #000000;
}

p {
  margin-top: 400px;
}

footer {
  clear: both;
  /*break from float*/
  position: fixed;
  bottom: 0px;
  padding: 10px 0px 2px 0px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

footer a {
  color: #515151;
  text-decoration: none;
}

#back, #refresh, div:nth-child(1), #whiteRoom div:nth-child(2) {
  cursor: pointer;
}
